# The url of your Auth0 tenant domain. If set to custom, AUTH0_MANAGEMENT_DOMAIN is required.
AUTH0_DOMAIN=

# Your Auth0 application's Client ID
AUTH0_CLIENT_ID=

# Your Auth0 application's Client Secret
AUTH0_CLIENT_SECRET=

# The Auth0 management API domain, if different from AUTH0_DOMAIN
# AUTH0_MANAGEMENT_DOMAIN=


# Auth0 Management API Client ID (if different from AUTH0_CLIENT_ID)
# AUTH0_MANAGEMENT_CLIENT_ID=

# Auth0 Management API Client Secret (if different from AUTH0_CLIENT_SECRET)
# AUTH0_MANAGEMENT_CLIENT_SECRET=

# A long, secret value used to encrypt the session cookie
AUTH0_SECRET=

# Default connection when creating organizations
AUTH0_ORGANIZATIONS_ENABLED_CONNECTION="con_xxxxxxxxx"

# The base url of your application
APP_BASE_URL=http://localhost:3000
